asgiref==3.5.2
attrs==21.4.0
autopep8==1.6.0
cycler==0.11.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==4.0.4
djangorestframework==3.13.1
flake8==4.0.1
fonttools==4.33.3
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.2
mccabe==0.6.1
mypy==0.950
mypy-extensions==0.4.3
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
static3==0.7.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
