{% load static %}
<div id="inscricoes" hx-target="#inscricoes" hx-get="/get_inscricao/" hx-trigger="every 2s" hx-swap="innherhtml" class="col d-flex">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h5 class="mb-0">Inscrição</h5>
                </div>
                <div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
                </div>
            </div>
            <div class="mt-5" id="chart20"></div>
        </div>
        <div class="card-footer bg-transparent border-top-0">
            <div class="d-flex align-items-center justify-content-between text-center">
                <div>
                    <h6 class="mb-1 font-weight-bold">{{ inscricoes }}</h6>
                    <p class="mb-0 text-secondary">confirmadas</p>
                </div>
                <div class="mb-1">
                    <h6 class="mb-1 font-weight-bold">{{ canceladas }}</h6>
                    <p class="mb-0 text-secondary">canceladas</p>
                </div>
                <div>
                    <h6 class="mb-1 font-weight-bold">{{ vagas }}</h6>
                    <p class="mb-0 text-secondary">vagas</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'app/assets/js/chart20.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
